<html>
    <head>
        <title>Bug Tracker</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
        <script>
            // browser + watch
            document.onreadystatechange = () => {
                if(document.readyState === 'interactive') {
                    document.getElementById('userAgent').value = window.navigator.userAgent;
                    document.getElementById('userDate').value = new Date;
                    console.log('hihihihihi', window.navigator.userAgent);
                }
            }
        </script>
    </head>
    <body>
        <nav class="navbar bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">BugTracker</a>
            </div>
        </nav>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                Your report has been accepted!. <a href="/">Return and report more</a>
              </div>
        </div>
    </body>
</html>